.blocks-container
  .block
    padding-bottom: 0
    .callout
      margin-bottom: 0
    .callout-inner
      border: none
      p
        color: $white
    .first-part
      font-size: 12px
  .block-left
    .callout-inner
      background-color: $secondary-color
  .block-right
    .callout-inner
      background-color: $primary-color


// Email signature
.signature
  margin: 1rem 0


.sent-from
  a:link, a:visited, a:hover, a:active
    color: $oil
    font-weight: 700


// Visual style
.visual
  float: none
  margin: 0 auto
  max-width: 100%

// Newsletter style
.newsletter-template
  .about-content
    .about-title
      color: $white
      text-align: center

    a
      color: $white

.content-container
  .about-content
    .fix-padding-block-left
      padding: 0 20px 0 0 !important
    .fix-padding-block-right
      padding: 0 0 20px 0 !important

@media only screen and (max-width: 600px)
  .content-container
    .about-content
      .fix-padding-block-left
        padding: 0 !important
      .fix-padding-block-right
        padding: 0 !important
