.main-content
  background-color: $white
  .panel
    background-color: transparent
    border: none
  .sent-from
    text-align: right
    font-weight: 300
    font-weight: bold
    margin-top: 20px
    margin-bottom: 0

    a
      color: $primary-color !important