.upper-footer
  background-color: #2d2a2b

  .initials-container
    padding-top: 1rem
    .initials
      background-color: $white
      padding: 7px 4px
      .letter-l
        color: $primary-color
      .letter-esperluette
        color: $secondary-color
      .letter-r
        color: $tercery-color

  .fix-padding-left
    padding-right: 20px
  .fix-padding-right
    padding-left: 20px

.lower-footer
  p
    font-size: 12px
    text-align: right
    margin-bottom: 0
