.upper-footer
  background-color: #2d2a2b

  .fix-padding-left
    padding-right: 20px
  .fix-padding-right
    padding-left: 20px

.lower-footer
  p
    margin-bottom: 0
    text-align: right
    font-size: 12px
