.upper-footer
  background-color: #2d2a2b
  p, span
    color: $white
    font-size: 12px

    a:link, a:hover, a:active, a:visited
      color: $white


  .letter-a
    color: #ed1c24
  .initials
    .letter-l
      color: $primary-color
    .letter-esperluette
      color: $secondary-color
    .letter-r
      color: $tercery-color


  .fix-padding-left
    padding-right: 20px
  .fix-padding-right
    padding-left: 20px

.lower-footer
  p
    font-size: 12px
    text-align: right
    margin-bottom: 0
