$bg-email: #e6e6e6

body, .body
  background-color: $bg-email

.no-margin-bottom
  margin-bottom: 0 !important

.no-padding-bottom
  padding-bottom: 0 !important

.no-padding-top
  padding-top: 0 !important

.weight-500
  font-weight: 700

table
  width: 100%

// Mailer blocks button
.btn-style
  border-radius: 3px
  display: inline-block
  font-family: 'Lato', 'Arial', sans-serif
  font-size: 11px
  line-height: 40px
  text-align: center
  text-decoration: none
  width: 150px
  -webkit-text-size-adjust: none

  &.inline-version
    width: 70px
    line-height: 25px
    font-size: 10px

    &.increase-width
      width: 90px

  &:link, &:visited, &:hover, &:active
    color: $white
