$logo-bg-color: #f6d935
$bg-email: #e6e6e6
$link-color: #F2471A
$title-font-size: 20px
$subtitle-font-size: 12px

body, .body
  background-color: $bg-email

.no-margin-bottom
  margin-bottom: 0 !important

.no-padding-bottom
  padding-bottom: 0 !important

.text-center
  text-align: center !important

.weight-500
  font-weight: bold