.upper-upper-header
  .panel
    background-color: lighten($success-color, 30%)
    border-color: $success-color

.upper-header
  background-color: $primary-color

  td
    color: $white
    font-weight: 300
    text-align: right

    &.logo-container
      vertical-align: middle

    .logo
      background-color: white

      a
        color: $primary-color !important
        img
          margin-bottom: 5px
        span
          text-align: center
          display: block

    .site-title
      color: $white
      text-align: right
      font-size: 24px
      margin-bottom: 5px

    .site-phone
      display: block
      margin-top: 5px
      a
        color: $white

.lower-header
  background-color: $secondary-color
  position: relative
  .panel
    background-color: transparent
    border: none
    padding-top: 0 !important
  .subject
    text-align: center