.upper-upper-header
  .panel
    background-color: lighten($success-color, 30%)
    border-color: $success-color

.upper-header
  background-color: #AAA

  td
    color: $white
    font-weight: 300
    text-align: right
