- f.inputs t('formtastic.titles.video_upload_details')
  - f.has_many :video_uploads, heading: false, new_record: t('add.feminin', klass: t('activerecord.models.video.one')), allow_destroy: true, sortable: :position do |item|
    = render 'admin/assets/video_uploads/forms/inputs', item: item
