<% unless @setting.should_validate %>
  <% if comment.parent_id.nil? %>
    $('.comments').prepend("<%= j render partial: 'comments/comment', locals: { comment: comment } %>");
  <% else %>
    $("#comment-<%= comment.parent_id %>").after("<div class='nested_messages'><%= j render partial: 'comments/comment', locals: { comment: comment } %></div>");
  <% end %>
<% end %>

if ($('#comment-count').length > 0){
  $('#comment-count').html("<%= @commentable.comments.validated.by_locale(@language).count %>")
}

$('form.new_comment .submit-loader').fadeOut();

$('#comment_username').val('');
$('#comment_email').val('');
$('#comment_comment').val('');

NProgress.done();
