// Homepage article
.homepage-content
  text-align: center

  .article-title
    margin-bottom: 2rem
    font-size: 3rem

    &:after
      display: block
      width: 50%
      margin: 0 auto
      content: ''
      border-bottom: 1px solid $white

  .post-body, .article-title, .button-discover
    color: $white

  .button-discover
    a
      display: block
      padding: 10px
      transition: background-color .3s ease-in
      text-align: center
      color: $white
      border: 1px solid $white
      border-radius: 3px

      &:hover
        background-color: $tercery-color
