//
// Homepage
// ========
body.is-homepage
  background-color: rgba($black, .55)

.homes
  text-align: center

  .home
    &__header
      margin-bottom: 1rem
      &__title
        font-size: 1.5rem

        &:after
          display: block
          width: 25%
          margin: .5rem auto 0 auto
          content: ''
          border-bottom: 1px solid $white

    &__body, &__header__title .button-discover
    color: $white

  .button-discover
    a
      display: block
      padding: 10px
      transition: background-color .3s ease-in, border-color .3s ease-in
      text-align: center
      color: $white
      border: 1px solid $white

      &:hover
        border-color: $tercery-color
        background-color: $tercery-color

@media #{$medium-up}
  .homes
    .home
      &__header
        margin-bottom: 2rem
        &__title
          font-size: 2.5rem
          line-height: .6
