//
// Search bar [Header]
// ===================
.search-form
  display: block
  width: $search_bar_width + $submit_width + 2px

  &__input
    width: $search_bar_width + $submit_width

@media #{$small-only}
  .search-form
    margin: 2.75rem auto 0 auto

@media #{$medium-up}
  .search-form
    float: right
    margin-right: 2rem

//
// Search page
// ===========
.searches
  .search-form
    float: none
    margin: 1rem 0 2rem 0
    &__group
    &__query
      display: block
      margin-top: .8rem
  .search-form, .search-form__input
    width: 100%

  .post__body
    padding-bottom: .9375rem

// => Look at modules/widgets/form_submit_state
// to customize input and submit button
