#ribbon.hide-for-small
  .ribbon-container class="#{Rails.env}"
    span.env = Rails.env.capitalize
    span.version == "Ruby: <strong>#{RUBY_VERSION}</strong>, Rails: <strong>#{Rails.version}</strong>"
