//
// Sidebar [Blog]
// ==============
.last-blogs
  &-title
    font-size: map-get($header-sizes, h4)
  &-article-title
    font-size: map-get($header-sizes, h6)

.last-comments
  .last-comment
    margin-bottom: .3rem
