=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @-o-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false)
  color: $normal
  @if $visited
    &:visited
      color: $visited
  @if $focus
    &:focus
      color: $focus
  @if $hover
    &:hover
      color: $hover
  @if $active
    &:active
      color: $active

// Add overlay color in top of background pictures
=overlay-video
  &:after
    position: fixed
    z-index: 3
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ''
    background-color: rgba($black, .6)

// Improve default style for broken images
=broken-pictures
  img
    position: relative

    &:after
      position: absolute
      z-index: 2
      top: 0
      left: 0

      display: block
      width: 100%
      height: 100%
      content: '\f1c5' ' ' attr(alt)
      color: rgb(100, 100, 100)
      background-color: $white
      font-family: FontAwesome

      font-size: 1rem

// Flat form design
=flat_form
  .input
    margin-bottom: 1rem
  input, textarea,
  input:focus, textarea:focus
    border: none
    box-shadow: none
    margin-bottom: 0
    color: $body-font-color
  input::-webkit-input-placeholder
    color: #C7C7CD
  input:-moz-placeholder
    color: #C7C7CD
  input::-moz-placeholder
    color: #C7C7CD
  input:-ms-input-placeholder
    color: #C7C7CD
