$link-color: $primary-color
$link-hover-color: $link-color
$link-active-color: $secondary-color
$border-color: #FFF
$menu-font-color: rgba(#FFF, .4)
$menu-bg-color: $tercery-color

// Responsive
$menu-breakpoint-one: 990px
$menu-breakpoint-two: 930px
$menu-breakpoint-three: 480px
$menu-breakpoint-four: 320px

// Nprogress transitions
$nprogress-color: $secondary-color
$nprogress-height: 5px
$nprogress-zindex: 10100

// logo
$logo_width: 210px
$logo_height: 42px

// Footer
$footer-height: 155px

// Help
// $primary-color: #0c708d;
// $secondary-color: #ee732a;
// $tercery-color: #614394;