//
// Nprogress transitions
// =====================
$nprogress-color: $secondary-color
$nprogress-height: 5px
$nprogress-zindex: 10100

//
// Menu
// ====
$menu-small: 0
$menu-medium: 480px
$menu-large: 991px

$menu-large-height: 46px
$menu-small-height: 44px

//
// Logo
// ====
$logo_width: 64px
$logo_height: 42px

//
// Search bar
// ==========
$submit_width: 37px
$search_bar_width: 210px

//
// Footer
// ======
$footer-height: 232px
