// Responsive
$menu-breakpoint-one: 992px
$menu-breakpoint-two: 991px
$menu-breakpoint-three: 480px
$menu-breakpoint-four: 320px

// Nprogress transitions
$nprogress-color: $secondary-color
$nprogress-height: 5px
$nprogress-zindex: 10100

// Logo
$logo_width: 64px
$logo_height: 42px

// Search bar
$submit_width: 37px
$search_bar_width: 210px

// Footer
$footer-height: 204px

// Help
// $primary-color: #0c708d;
// $secondary-color: #ee732a;
// $tercery-color: #614394;
