= "Bonjour #{@setting.name}"
= "\r\n==============================================\r\n\r\n"

= strip_tags(@content)

= "\r\n\r\n==============================================\r\n\r\n"
= admin_post_comment_url(@comment)