= "Bonjour #{@setting.name}"
= "\r\n==============================================\r\n\r\n"

= @content

= "\r\n\r\n==============================================\r\n\r\n"
= admin_post_comment_url(@comment)