//
// Newsletter form [Footer]
// ========================
.newsletter-form
  .newsletter-form-header
    display: block
    text-align: center

  .input-wrapper
    position: relative

    .newsletter_user_email
      input
        width: 100%
        height: auto
        padding: 5px
        padding-right: 37px

        &:focus
          outline: none !important

    .submit-with-icon
      position: absolute
      top: 1px
      right: 3px

      margin: 0
      padding: 0
      cursor: pointer

      color: $black
      border: 0
      outline: none
      background: none
      box-shadow: none

      i
        margin-right: 1px
        font-size: 25px
