html, body
  // Sticky footer
  height: 100%

// Action on text selection
*
  &::selection
    color: $white
    background-color: $link-color
  outline: none

a
  transition: color .2s ease-in

.no-margin-bottom
  margin-bottom: 0

.no-margin-left
  margin-left: 0 !important

.no-margin
  margin: 0 auto

.video-figure
  margin: 0 auto 3rem auto

.dtable
  display: table
  .dtrow
    display: table-row

  .dtcell
    display: table-cell
    vertical-align: middle


/* Clearfix */
.clearfix
  *zoom: 1

  &:before, &:after
    content: " "
    display: table

  &:after
    clear: both

a.button
  border-radius: 0 !important


// Maildev
.maildev
  position: absolute
  top: 20px
  right: 0


// Overlay on video play
#shadow
  &.night
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    opacity: .8
    background-color: #000
.mejs-container
  z-index: 3

// Sticky footer
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto (-$footer-height)