// Action on text selection
*
  outline: none
  &::selection
    color: $white
    background-color: $link-color

// Links
a
  transition: color .2s ease-in
  &.button
    border-radius: 0 !important

// Utils
.no-margin-bottom
  margin-bottom: 0

.no-margin-left
  margin-left: 0 !important

.no-margin
  margin: 0 auto

.dtable
  display: table
  .dtrow
    display: table-row

  .dtcell
    display: table-cell
    vertical-align: middle

// Search mark
mark
  color: $white
  background-color: $warning-color

// Maildev
.button-title
  margin-bottom: 0
  margin-left: 1rem
  vertical-align: middle

// Overlay on video play
#shadow
  &.night
    position: absolute
    z-index: 2
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: .8
    background-color: $black
.mejs-container
  z-index: 3

// Highlight post on page
.highlight-post
  animation: highlight-post 1.5s

@keyframes highlight-post
  0%
    background: $warning-color
  100%
    background: none

// Style for broken pictures
+ broken-pictures

// Masonry
.masonry-item
  width: 100%
