// Button States and required fields
.button-state
  float: right
.required-instructions
  text-align: right
  font-weight: 300
  font-size: 12px

form
  span.error, .form--error, .form--success
    display: block
    margin-bottom: 1rem
    padding: .5rem
    color: $white
    background-color: $warning-color
    font-size: .75rem
    font-weight: normal
    font-style: italic
    .hide
      display: none !important

  .form--success
    background-color: $success-color

  textarea.text + span.error
    margin-bottom: 0


//
// Textarea
// ========
textarea
  min-height: 200px
  resize: vertical
  transition: height .3s ease-in
  &.tiny
    min-height: 0
    height: 100px !important

.form--contact
  textarea
    min-height: 198px
    margin-bottom: 0


//
// Default flat form style
// =======================
.form--flat
  +flat_form


//
// Placeholder
// ===========
input::-webkit-input-placeholder
  color: $snow
input:-moz-placeholder
  color: $snow
input::-moz-placeholder
  color: $snow
input:-ms-input-placeholder
  color: $snow
