.paperclip-preview
  margin: 15px 6px

*
  outline: none

#site_title_image
  width: 150px

.clearfix
  clear: both
  height: 0

.text-center
  text-align: center


// Omniauth button
a.omniauth
  &.facebook
    background-color: $facebook
    &:hover
      background-color: lighten($facebook, 5%) !important

  &.google
    background-color: $googleplus
    &:hover
      background-color: lighten($googleplus, 5%) !important

  &.twitter
    background-color: $twitter
    &:hover
      background-color: lighten($twitter, 5%) !important