.paperclip-preview
  margin: 15px 6px

*
  outline: none

#site_title_image
  width: 150px

.clearfix
  clear: both
  height: 0

.text-center
  text-align: center

+broken-pictures

// ActiveAdmin Addons boolean
$bool_size: 30px
.bool-value
  font-size: 16px
  display: block
  width: $bool_size
  height: $bool_size
  line-height: $bool_size
  border-radius: 50%
  color: $white
  text-align: center

  &.true-value
    background-color: #8daa92
  &.false-value
    background-color: #d45f53
