p.inline-hints
  font-size: 1.3em !important
  color: #007637 !important

li.boolean label input
  margin: 0 0.5em 0 0.2em !important

form fieldset.inputs ol > li.boolean label
  width: 98%
  padding-left: 2%

form fieldset > ol > li.boolean
  label
    margin-bottom: 5px !important

  p.inline-hints
    padding-left: 2% !important
    margin-left: 0 !important
