#active_admin_content
  form li.input, fieldset:not(.actions) ol li
    clear: both

  form fieldset > ol > li fieldset:not(.has_many_fields) ol li:not(.hidden)
    padding: 10px !important


form fieldset > ol > li.boolean
  height: auto

.active_admin .activeadmin-translations
  margin-left: 30px
  margin-right: 30px

form.slider fieldset > ol > li p.inline-hints
  margin-left: 0

#active_admin_content form.slider fieldset > ol li fieldset.inputs.has_many_fields > ol > li.input
  float: left
  clear: none
  width: 47%

  &:nth-child(2)
    float: right

  &:not(.input)
    clear: both

form fieldset > ol > li fieldset:not(.has_many_fields) ol
  padding-left: 0

#active_admin_content form li.input, #active_admin_content fieldset:not(.actions) ol li
  clear: none

form fieldset#referencement legend span
  font-size: 2em

form fieldset > ol > li.select p.inline-hints
  margin-left: 0
  margin-top: 10px


// Logo footer site
#setting_logo_footer_input
  margin-top: 15px

.logo-footer
  background-color: rgba(0, 0, 0, .2)
  padding: 5px

form fieldset ol > li.newsletter_user_roles
  &>fieldset.has_many_fields
    width: 47%
    float: left
    margin-left: 1%

form fieldset.inputs legend
  border-bottom: 0