/*
|-----------------------------------------------------
| Active Admin form style
|-----------------------------------------------------
|
*/
#active_admin_content {
  form li.input, fieldset:not(.actions) ol li {
    clear: both;
  }

  form fieldset > ol > li fieldset:not(.has_many_fields) ol li:not(.hidden) {
    padding: 10px !important;
  }
}

form fieldset > ol > li.boolean {
  height: auto;
}

.active_admin .activeadmin-translations {
  margin-left: 30px;
  margin-right: 30px;
}