.active_admin #active_admin_content
  form li.input, fieldset:not(.actions) ol li
    clear: none

  form fieldset > ol > li fieldset:not(.has_many_fields) ol li:not(.hidden)
    padding: 10px !important

  form fieldset > ol li p.inline-errors
    display: none

  form fieldset.inputs
    padding: 0
    > ol > li.boolean
      height: auto

  form fieldset > ol > li fieldset:not(.has_many_fields) ol
    padding-left: 0

  form fieldset > ol >
    li.select, li.file
      p.inline-hints
        margin-left: 0
        margin-top: 10px

  //
  // Slider
  // ======
  form.slider fieldset > ol li
    fieldset.inputs.has_many_fields > ol > li.input
      float: left
      clear: none
      width: 47%

      &:nth-child(2)
        float: right

      &:not(.input)
        clear: both

  //
  // Setting
  // =======
  // Logo footer site (Setting#form)
  #logos-container
    padding: 0 15px

  .logo-footer
    background-color: rgba(0, 0, 0, .2)
    padding: 5px

  //
  // Newsletter
  // ==========
  form fieldset ol > li.newsletter_user_roles
    &>fieldset.has_many_fields
      width: 47%
      float: left
      margin-left: 1%

  //
  // Legend
  // ======
  form fieldset.inputs
    legend
      border-bottom: 0
      width: 100%
    &:not(.locale)
      legend
        position: relative
        span
          position: relative
          background-color: $formLegendHeading
          color: $white

  //
  // VideoUpload
  // ===========
  li.has_many_container.video_uploads
    fieldset
      background: repeating-linear-gradient(45deg, #abb4ed, #abb4ed 10px, #bfbfbf 10px, #bfbfbf 20px )

      fieldset.inputs
        background: rgba(255, 255, 255, .65)

    // Delete checkbox for has_many
    li.boolean.has_many_delete label
      color: $warning-color
      font-weight: bold

    .has_many_fields
      & > ol
        & > li.input:not(.file):not(.has_many_delete)
          float: left
          width: 48%

  //
  // MailingMessage
  // =================
  // Buttons for select / deselect all mailing users
  .formtastic.mailing_message
    ol.choices-group
      column-count: 2
      column-gap: 4
      width: 100%

      li.choice
        float: left
        width: 100%
        padding-bottom: 0 !important
        padding-top: 0 !important

        small
          font-size: 11px
          color: rgba(#5e6469,.83)
    div.actions-customers
      margin-bottom: 10px
      .select-btn-container
        text-align: center
      a.button
        cursor: pointer

  //
  // Translations
  // =============
  // Globalize locales
  form fieldset.inputs.locale
    border: 3px solid $primary-color
    padding-top: 0

  .activeadmin-translations
    padding: 10px 30px 20px 30px
    margin: 0
    > ul > li >
      a
        box-shadow: none !important
        @include rounded(0 !important)
        background: lighten( $secondary-color, 30% ) !important
        color: $white !important
        border: none !important
        text-shadow: none !important
        padding: 11px 20px !important
        &:hover
          background: $secondary-color !important

        &.active
          background: $primary-color !important
          &:hover
            background: lighten( $primary-color, 10% ) !important

  //
  // Froala
  // ======
  .fr-box
    margin-bottom: .5rem

  //
  // Misc
  // ====
  .attributes_table table th
    vertical-align: middle

  form fieldset > ol
    li
      p.inline-hints
        display: inline-block
        font-size: 0.95em
        font-style: italic
        color: $white-smoke
        background-color: rgba(74, 67, 49, 0.56) !important
        padding: 4px
        clear: both
        &:before
          content: '\f05a'
          font-family: FontAwesome
          margin-right: 5px
        img
          object-fit: cover
          width: 100%
      &.file
        input[type="file"]
          display: block
      &.select
        p.inline-hints
          margin-left: 20%
      .date-time-picker, .colorpicker,
        display: block
      .palette-color-picker-button
        display: table-cell
    #map_setting_marker_color_input
      .inline-hints
        margin-left: 0

  // Boolean
  form fieldset > ol li.boolean
    label
      margin-bottom: 0 !important
      width: 98%
      padding-left: 0
      input
        margin: 0 0.5em 0 0.2em !important

    p.inline-hints
      margin-left: 0 !important
      margin-top: .5rem !important

  // Radio buttons
  .radio
    .choices-group
      margin-top: 15px !important
      .choice
        float: left
        margin-right: 15px
        label
          font-weight: normal
          input
            margin-right: 10px
    p.inline-hints
      margin-left: 0


  //
  // Manual columns on AA form
  //
  form .form-columns
    padding-top: 25px !important
    overflow: auto
  .form-left-column, .form-right-column
    width: 50%
    li
      margin-bottom: 1rem
      .inline-hints
        margin-top: 5px
        font-style: italic

  .form-left-column
    float: left
    li
      margin-left: 2rem
      margin-right: 1rem

  .form-right-column
    float: right
    li
      margin-right: 2rem

  // Reset margin for translations locales
  .form-left-column, .form-right-column
    ul.available-locales
      li
        margin-bottom: 0
        margin-right: 0



  //
  // Highlight current section
  //
  form fieldset.inputs
    &.highlight-referencement, &.highlight-heading
      border: 1px dotted $success-color
      > legend > span
        background-color: $success-color
