#active_admin_content
  form li.input, fieldset:not(.actions) ol li
    clear: both

  form fieldset > ol > li fieldset:not(.has_many_fields) ol li:not(.hidden)
    padding: 10px !important


form fieldset > ol > li.boolean
  height: auto

.active_admin .activeadmin-translations
  margin-left: 30px
  margin-right: 30px

form.slider fieldset > ol > li p.inline-hints
  margin-left: 0

#active_admin_content form.slider fieldset > ol li fieldset.inputs.has_many_fields > ol > li.input
  float: left
  clear: none
  width: 47%

  &:nth-child(2)
    float: right

  &:not(.input)
    clear: both

form fieldset > ol > li fieldset:not(.has_many_fields) ol
  padding-left: 0

#active_admin_content form li.input, #active_admin_content fieldset:not(.actions) ol li
  clear: none

form fieldset#referencement legend span
  font-size: 2em

form fieldset > ol > li.select p.inline-hints
  margin-left: 0
  margin-top: 10px


// Logo footer site
#setting_logo_footer_input
  margin-top: 15px

.logo-footer
  background-color: rgba(0, 0, 0, .2)
  padding: 5px

form fieldset ol > li.newsletter_user_roles
  &>fieldset.has_many_fields
    width: 47%
    float: left
    margin-left: 1%

form
  fieldset.inputs
    padding-top: 0

    legend
      border-bottom: 0
      width: 100%

// Translations
.activeadmin-translations
  margin-top: 10px

// Legend
form fieldset.inputs:not(.locale)
  border: none
  legend
    position: relative
    span
      position: relative
      background-color: $formLegendHeading
      color: $white

// VideoUpload
li.has_many_container.video_uploads
  fieldset
    background: repeating-linear-gradient(45deg, #abb4ed, #abb4ed 10px, #bfbfbf 10px, #bfbfbf 20px )

    fieldset.inputs
      background: rgba(255, 255, 255, .65)

  li.boolean.has_many_delete label
    color: rgb(255, 92, 92)

  .has_many_fields
    &>ol
      &>li.input:not(.file):not(.has_many_delete)
        float: left
        width: 48%


// Buttons for select / deselect all mailing users
.formtastic.mailing_message
  ol.choices-group
    column-count: 2
    column-gap: 4
    width: 100%

    li.choice
      float: left
      width: 100%
      padding-bottom: 0 !important
      padding-top: 0 !important

      small
        font-size: 11px
        color: rgba(#5e6469,.83)
  div.actions-customers
    margin-bottom: 10px
    .select-btn-container
      text-align: center
    a.button
      cursor: pointer


// Globalize locales
form fieldset.inputs.locale
  border: 3px solid $primary-color
.active_admin #active_admin_content .activeadmin-translations > ul > li >
  a
    box-shadow: none !important
    @include rounded(0 !important)
    background: lighten( $secondary-color, 30% ) !important
    color: $white !important
    border: none !important
    text-shadow: none !important
    padding: 11px 20px !important
    &:hover
      background: $secondary-color !important

    &.active
      background: $primary-color !important
      &:hover
        background: lighten( $primary-color, 10% ) !important


// Misc
p.inline-hints
  font-size: 1.3em !important
  color: #007637 !important

li.boolean label input
  margin: 0 0.5em 0 0.2em !important

form fieldset.inputs ol > li.boolean label
  width: 98%
  padding-left: 2%

form fieldset > ol > li.boolean
  label
    margin-bottom: 5px !important

  p.inline-hints
    padding-left: 2% !important
    margin-left: 0 !important

form.formtastic fieldset > ol li p.inline-errors
  display: none