.froala-box
  width: 80% !important
  float: right
  margin-bottom: 5px

  .froala-wrapper
    font-size: 14px

    .froala-view
      padding: 15px

    & + div
      display: none !important

  button
    border-radius: 0
    color: #222
    text-shadow: none !important
    box-shadow: none !important
    font-weight: normal

.small-height
  height: 100px
