//
// Page layout
// ===========
.page-section
  padding: 2rem 0
  &:not(.homes)
    background-color: rgba($white, .93)
  .page__header
    margin-bottom: 1.5rem
    &__title
      margin-bottom: 0
      text-align: center
      font-size: 2rem
      &__link
    &__heading
      margin-top: 1.3rem
    &__update
      margin: 0
      font-size: .7rem

@media #{$small-only}
  .page-section
    padding: 1.5rem 0

@media #{$medium-up}
  .page-section
    .page__header
      &__title
        font-size: 3rem
        &:before, &:after
          display: block
          content: ''
          border-bottom: 1px solid $primary-color
