.l-page-title
  margin-top: 15px
  text-align: center

  .l-page-title-link
    @include link-colors($secondary-color)

.article-container
  margin-top: 90px

  .pictures.pictures-container
    background-color: $secondary-color
    margin-bottom: 25px


.post-article
  position: relative
  margin: 1.5rem 0 3rem 0
  &-title
    margin-bottom: 1rem
    color: $primary-color

  .post-title
    display: inline
  .frontend-actions
    &:before
      content: ' - '
      position: relative

  footer
    border: 1px solid $primary-color
    padding: 1rem

    .inline-list
      margin-bottom: 0

.pictures-container
  margin-bottom: 1rem
  img
    width: 100%
