#admin_bar
  background-color: $jet
  padding: 10px
  color: $gainsboro

  a
    color: $white

  .menu.simple
    font-size: .8rem
    margin-bottom: 0

    &> li > *
      display: inline-block

  .fa
    &.success
      color: $success-color
    &.warning
      color: $warning-color

  .admin_bar-bubble
    display: inline-block
    vertical-align: middle
    border-radius: 50%
    width: 25px
    height: 25px
    text-align: center
    margin-left: 10px

    .has-tip
      display: block
      width: 25px
      height: 25px
      line-height: 25px
      color: $gainsboro
      cursor: pointer

  .admin_bar
    &-comments-tovalidate-link
      background-color: $tercery-color
    &-comments-signalled-link
      background-color: $warning-color

  .dahsboard-link
    margin-right: 3px

  .divider
    border-right: 1px solid $gainsboro
    height: 25px

  .dropdown.menu
    font-size: .8rem

    img
      min-width: 24px
      max-width: 24px
      margin-left: 0.25rem

    > li > a
      padding-top: 0
      padding-left: 0
      padding-bottom: 0

    li
      display: block

    li.is-submenu-item
      &:hover
        background-color: $aluminum