.background
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  width: 100%
  z-index: -1

  @include overlay-video

  &.background-contact
    position: relative
    padding-top: 50px
    z-index: 0

    &:after
      position: absolute