.comment
  background-color: $white-smoke
  border: 1px solid $smoke
  border-radius: 3px
  padding: 10px
  margin-bottom: 2rem

  .comment-avatar
    img
      width: 100%

.comment-avatar
  img
    padding: 3px
    border-radius: 50%
    background-color: $white
    box-shadow: 0 1px 9px #e0e0e0,inset 0 0 2px rgba(215,215,215,0.75)

.comment-author
  opacity: .8

.comment-destroy, .comment-not-signalled, .comment-signalled, .comment-reply
  text-decoration: underline
  font-size: 11px

.comment-destroy a
  color: $warning-color

.comment-signalled
  text-decoration: none

.auhtor-with-avatar
  text-align: center

// Captcha
#comment_nickname
  display: none !important

.comment-highlight
  background-color: rgba($success-color, .3) !important

.comment-count
  display: inline !important

.nested_messages
  margin-left: 50px
  .comment
    background-color: rgba($primary-color, .05%)

.nested_messages .nested_messages .nested_messages
  margin-left: 0