.footer-container
  color: $white
  position: relative
  width: 100%

  .upper-footer
    padding: 1rem 10px 15px 10px
    background-color: $topbar-bg-color

    .input-wrapper
      position: relative

      .newsletter_user_email
        input
          width: 100%
          height: auto
          padding: 5px
          padding-right: 37px

          &:focus
            outline: none !important

      .submit-with-icon
        background: none
        position: absolute
        top: 1px
        right: 3px

        margin: 0
        padding: 0
        border: 0
        outline: none
        box-shadow: none

        color: #000
        cursor: pointer

        i
          font-size: 25px
          margin-right: 1px

  .lower-footer
    padding: 15px
    background-color: #333132
    text-align: center

    .credentials
      margin-top: 5px
      text-align: center

    p
      font-size: 12px
      margin-bottom: 0

    .made-by
      a
        color: $white
      .love
        @include transition(color .3s ease-in)
      .initials
        background-color: $white
        padding: 0 3px
        .letter-l
          color: #0c708d
        .letter-esperluette
          color: #ee732a
        .letter-r
          color: #614394

      &:hover
        .love
          color: #E34

// Sticky footer
.footer-container, .push
  height: $footer-height