//
// Footer
// ======
.footer-site
  position: relative
  width: 100%
  color: $white
  border-top: 1px solid $primary-color

  // Upper Footer
  .upper-footer
    padding: 1rem 10px 15px 10px
    background-color: $topbar-background

    // Logo up
    .logo-up
      text-align: center

  // Lower Footer (made with love by ...)
  .lower-footer
    padding: 15px
    background-color: $jet
    p
      margin-bottom: 0
      font-size: 12px
    a
      color: $secondary-color

    .credentials
      text-align: left

  .socials, .newsletter-form, .contact-informations
    margin-bottom: 1.5rem

@media #{$large-up}
  .socials, .newsletter-form, .contact-informations
    margin-bottom: 0

// Newsletter form
@import modules/footer/newsletter_user
// Social icons
@import modules/footer/social
// LR credentials
@import modules/footer/lr_credentials
