//
// Header
// ======
.header-site
  position: relative
  border-bottom: 1px solid $primary-color
  background-color: $topbar-background

  .lower-header, .upper-header
    padding: .5rem 0

@media screen and (max-width: $menu-breakpoint-two)
  .header-site
    .lower-header
      padding-bottom: 0
