.upper-header
  margin-top: 10px

.l-header-site
  margin-top: 10px
  position: relative
  // background-color: $topbar-bg-color





  // margin-bottom: 50px
  // height: 155px
  // z-index: 2
  // box-shadow: 1.2px 4.9px 5px rgba(0, 0, 0, 0.3)

//   &.footer
//     text-align: right
//     .l-header-site-title-link
//       .l-header-site-title
//         font-size: $h6-font-size

//         .l-header-site-subtitle
//           font-size: 11px
//           margin-top: 0px !important

//   .l-header-site-title-link
//     display: block
//     @include link-colors($link-color, $link-hover-color, $link-active-color)

//     .l-header-site-title
//       margin-bottom: 0
//       color: $link-color
//       font-size: $h2-font-size

//       &:hover
//         color: $link-hover-color

//       .l-header-site-subtitle
//         display: block
//         color: $body-font-color
//         font-weight: 400
//         font-size: 14px
//         line-height: 1
//         text-transform: uppercase


// @media screen and (max-width: $menu-breakpoint-two)
//   .l-header-site

//     .title-site, .menu-site
//       width: 100%

//     .v-bottom
//       margin-top: 20px
