//
// Language [Header]
// =================
.language
  float: right

  .menu__nav__ul, .menu
    margin-bottom: 0
    .menu__item
      text-transform: uppercase
      font-size: 13px
      &:last-child
        margin-right: 0
