//
// Logo [header]
// =============
.logo
  display: table
  &__link
    display: table
    text-indent: 7px
    &:hover
      .logo__picture
        filter: none
        background-color: $white

  &__picture
    display: table-cell
    max-width: $logo_width + 10px
    padding: 5px
    filter: brightness(0) invert(.8)
    transition: filter .6s, background-color .6s
  &__heading
    display: table-cell
    vertical-align: bottom
    &__title
      margin-bottom: 0
    &__subtitle
      display: block
    &__title, &__subtitle
      transition: color .6s
      color: $white
      font-size: rem-calc(13)

@if variable-exists(small-only)
  @media #{$small-only}
    .logo
      margin: 0 auto

//
// Logo [Mapbox]
// =============
