//
// Menu [Header]
// =============
.menu__nav
  position: relative
  width: 100%
  height: 40px
  font-weight: 400

  ul
    float: right
    margin: 0
    padding: 0

  .menu__item
    display: inline
    float: left
    margin-left: 0
    text-transform: uppercase
    font-size: 13px

    &:last-child
      .menu__item__link
        padding-right: 0
        border-right: none

    .menu__item__link
      display: inline-block
      padding: 0 5px
      text-decoration: none
      font-size: 13px

    &:not(:last-child)
      margin-right: 1.5rem
    // &:not(:last-child):after
    //   content: ''
    //   color: $menu-font-color

  a#pull
    display: none
    text-align: center


@media screen and (max-width: $menu-breakpoint-one)
  .columns-for-logo, .columns-for-menu
    margin-left: 0 !important

// Version sur deux colonnes
@media screen and (max-width: $menu-breakpoint-two)
  .columns-for-logo, .columns-for-menu
    float: none
    width: 100%

  .menu-site
    padding: 0 !important

  .menu__nav
    max-width: initial
    height: auto
    margin-left: 0
    border: 1px solid $border-color
    border-bottom: none

    ul
      display: block
      width: 100%
      height: auto
      padding: 0

      // Even menu items number
      &.even
        .menu__item
          &:nth-child(odd)
            border-right: 1px solid $border-color
          &:first-child
            width: 50%

      // Odd menu items number
      &.odd
        .menu__item
          &:first-child
            float: none
            width: 100%
          &:not(:first-child):nth-child(even)
            border-right: 1px solid $border-color

    .menu__item
      position: relative
      display: block
      float: left
      width: 50%
      border-bottom: 1px solid $border-color
      background-color: $menu-bg-color
      &:not(:last-child)
        margin-right: 0

      .menu__item__link
        width: 100%
        padding: 8px 0
        text-align: center
        @include link-colors($white, $menu-font-color)

      &.menu__item__active
        .menu__item__link
          color: $link-active-color

      &:after
        content: none !important


// Menu déroulant sur une colonne
@media only screen and (max-width : $menu-breakpoint-three)
  .columns-for-menu
    position: relative
    margin-bottom: 1rem

  .menu__nav
    position: absolute
    z-index: 2
    margin-top: 1rem
    border: none

    ul
      display: none
      float: none
      height: auto

    .menu__item
      display: block
      float: none
      width: 100% !important
      border-right: none !important
      border-bottom: 1px solid $border-color

    a#pull
      position: relative
      display: block
      width: 100%
      // border-bottom: 1px solid $link-active-color
      padding: 10px
      color: $white
      background-color: $primary-color

      // /* L'icône hamburger, en utilisant le box-shadow */
      &:after
        position: absolute
        top: 5px
        right: 15px
        display: inline-block
        width: 1rem
        height: 0
        content: ''
        box-shadow: 0 10px 0 1px $border-color, 0 16px 0 1px $border-color, 0 22px 0 1px $border-color

      &:hover
        &:after
          box-shadow: 0 10px 0 1px $border-color, 0 16px 0 1px $border-color, 0 22px 0 1px $border-color


// Active menu item
.menu__item
  .menu__item__link
    @include link-colors($menu-font-color, $white)
  &.menu__item__active
    .menu__item__link
      @include link-colors($white)


@media #{$medium-up}
  .menu__nav
    ul
      margin: 1rem auto
