//
// Menu [Header]
// =============

// Active menu item
.menu__item
  .menu__item__link
    @include link-colors($menu-font-color, $white)
  &.menu__item__active
    .menu__item__link
      @include link-colors($white)


// One column menu (hidden)
@media only screen and (min-width: 0)
  .menu__nav
    position: absolute
    z-index: 2
    width: 100%

    ul
      display: none
      height: auto
      margin: 0
      padding: 0

    .menu__item
      list-style-type: none
      text-align: center
      border-bottom: 1px solid $border-color
      &__link
        display: block
        padding: 8px 0
        background-color: $primary-color

    // Menu block visible
    a#pull
      position: relative
      display: block
      width: 100%
      padding: 10px
      text-align: center
      color: $white
      background-color: $primary-color
      +hamburger_menu


// Two columns menu (visible)
@media only screen and (min-width: $menu-medium)
  .columns-for-logo, .columns-for-menu
    float: none
    width: 100%

  .menu-site
    padding: 0 !important

  .menu__nav
    position: relative
    max-width: initial
    border: 1px solid $border-color
    border-bottom: none

    ul
      display: inherit

      // Even menu items number
      &.even
        .menu__item
          &:nth-child(odd)
            border-right: 1px solid $border-color
          &:first-child
            width: 50%

      // Odd menu items number
      &.odd
        .menu__item
          &:first-child
            float: none
            width: 100%
          &:not(:first-child):nth-child(even)
            border-right: 1px solid $border-color

    .menu__item
      float: left
      width: 50%
      &:not(:last-child)
        margin-right: 0

      &:after
        content: none !important

    a#pull
      display: none

// Regular menu (large version)
@media only screen and (min-width: $menu-large)
  .columns-for-logo
    margin-left: 8.33333%

  .menu__nav
    border: none
    ul
      float: right
      height: $menu-large-height
      .menu__item
        display: inline
        width: auto !important
        text-transform: uppercase
        border: none !important
        font-size: 13px
        line-height: $menu-large-height
        &__link
          padding: 0
          background: none
        &:not(:last-child)
          margin-right: 1.5rem
