.l-page-title
  margin-top: 15px
  text-align: center

  .l-page-title-link
    @include link-colors($secondary-color)

.article-container
  margin-top: 90px

  .pictures.pictures-container
    background-color: $secondary-color
    margin-bottom: 25px