$ribbon_width: 176px
$ribbon_height: 175px

#ribbon
  position: fixed
  z-index: 3
  top: 0
  left: 0
  display: block
  overflow: hidden
  width: $ribbon_width
  height: $ribbon_height

  .ribbon-container
    position: absolute
    top: 24px
    left: -85px
    width: 290px
    padding: 5px 40px
    transition: .5s
    transform: rotate(-45deg)
    text-align: center
    text-decoration: none
    color: $white
    box-shadow: 4px 4px 10px rgba($black, .8)
    font-size: 1rem


    &.staging
      background: $success-color
    &.development
      background: $warning-color

    &::before, &::after
      position: absolute
      top: 1px
      left: 0
      display: block
      width: 100%
      height: 1px
      content: ''
      background: $white

    &::after
      top: auto
      bottom: 1px

    .env
      margin-bottom: 0
    .version, .branch
      display: block
      font-size: 11px


  // Bottom Left
  &.bottom-left
    top: initial
    bottom: 0
    .ribbon-container
      top: 85px
      left: -80px
      transform: rotate(45deg)

.ribbon-margin-left
  margin-left: $ribbon_width
