//
// Autocomplete [search header]
// =====================
.ui-autocomplete
  width: $search_bar_width + $submit_width !important
  border: none
  background: $white

  &.ui-menu
    .ui-menu-item
      padding: 10px
      list-style-image: none
      &:nth-child(odd)
        background-color: $white-smoke
      &.ui-state-focus
        border: 1px solid transparent // fix
        background-color: $smoke
        background-image: none

  .autocomplete__picture
    width: 50px
    max-width: none
    height: 50px
    object-fit: cover
    font-family: 'object-fit: cover;'

  .autocomplete__content
    padding-left: 5px
    font-size: 10px
    p
      margin-bottom: 0
