.cookie_cnil
  position: fixed
  left: 0
  right: 0
  bottom: 0
  padding: 7px 20px

  color: #666
  font-size: 0.9em

  background-color: #F2F2F2
  border-top: 1px solid #E4E4E4

  a
    text-decoration: underline

    &:hover
      text-decoration: none

  .cookie_btn
    display: inline
    margin-left: 15px
    padding: 4px 10px

    color: #FFF
    background-color: #55ACEE
    border-radius: 3px
    cursor: pointer

  .cookie_btn-error
    background-color: #ff5266