.cookie_cnil
  position: fixed
  right: 0
  bottom: 0
  left: 0
  margin-bottom: 0
  padding: 20px
  padding-right: 38px
  color: $steel
  font-size: .9em

  .cookie_choices
    margin-bottom: 0
    .cookie_btn
      display: block
      margin-bottom: 0
    a
      display: block
      margin-bottom: 1rem
      text-decoration: underline
      &:hover
        text-decoration: none

      .cookie_btn
        display: block


@media #{$large-up}
  .cookie_cnil
    .cookie_choices
      .cookie_btn
        display: inline-block
        margin-left: 1rem
      a
        display: inline
