row.collapse.blocks-container
  / Left block
  columns.block.block-left
    callout
      p
        span.first-part Membre de la coopérative
        span.last-part<
          <!--[if mso]>
            | &nbsp; &nbsp;
            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://http://www.ouvre-boites44.coop" style="height:25px;v-text-anchor:middle;width:90px;" arcsize="8%" stroke="f" fillcolor="#0c708d">
              <w:anchorlock/>
              <center>
            <![endif]-->
                <a href="http://www.ouvre-boites44.coop/" target="_blank" style="background-color:#0c708d;" class="btn-style inline-version increase-width weight-500">
                  | Ouvre-Boites 44
                </a>
            <!--[if mso]>
              </center>
            </v:roundrect>
          <![endif]-->

  / Right block
  columns.block.block-right
    callout
      p
        span.first-part En savoir plus sur notre agence
        span.last-part<
          <!--[if mso]>
            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.lr-agenceweb.fr" style="height:25px;v-text-anchor:middle;width:80px;" arcsize="8%" stroke="f" fillcolor="#ee732a">
              <w:anchorlock/>
              <center>
            <![endif]-->
                <a href="http://www.lr-agenceweb.fr" target="_blank" style="background-color:#ee732a;" class="btn-style inline-version weight-500">
                  | Visiter L&amp;R
                </a>
            <!--[if mso]>
              <center>
            </v:roundrect>
          <![endif]-->
