- f.inputs 'Optional Modules'
  - f.input :optional
  - f.input :optional_module_id,
            as: :select,
            collection: OptionalModule.all,
            include_blank: true,
            hint: I18n.t('form.hint.optional_module')
