@import foundation/colors
@import globals/mixins
@import globals/settings

#admin_bar
  display: none

// Menu déroulant sur une colonne
@media only screen and (max-width : $menu-breakpoint-three)
  .menu__nav
    .menu__nav__ul
      display: block

    a#pull
      display: none
