- f.inputs 'Rôles'
  - f.input :role_id,
            as: :select,
            collection: Role.allowed_roles_for_user_role(current_user),
            include_blank: false,
            hint: I18n.t('form.hint.role_name'),
            input_html: { class: 'chosen-select' },
            selected: f.object.role.id unless f.object.new_record?
